@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: figtree;
  src: url(fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: donjose;
  src: url(fonts/DonJose_Black.otf);
}

.font-donjose {
  font-family: donjose;
}

h1 {
 font-family: donjose; 
}

h2 {
  font-family: poppins;
}

p {
  @apply font-figtree font-medium text-[.8rem]
}

.font-figtree {
  font-family: figtree;
}

.filter-button {
  @apply py-[3px] px-[10px] rounded-[5px] font-medium text-[.7rem] border-[1px] whitespace-nowrap
}

.filter-active {
  @apply border-blue-400 bg-blue-100 bg-opacity-50 shadow-md
}

.filter-not-active {
  @apply border-slate-500
}